@model IEnumerable<WebApplication1.Models.Conference>

    <div class="content">


        <div class="card card-info">
            <div class="card-header">
                <h3 class="card-title">Horizontal Form</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            
                <div class="card-body">
                    <p>
                        <a asp-action="CreateConf">Create New</a>
                    </p>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Name)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.ApplicationUser)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.DateStart)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.DateEnd)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Place)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Subjects)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.KeyWords)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        <a asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Name)</a>
                                        
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ApplicationUser.Id)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DateStart)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DateEnd)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Place)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Subjects)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.KeyWords)
                                    </td>
                                    <td>
                                        <a asp-action="EditConf" asp-route-id="@item.Id">Edit</a> |
                                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
        </div>
 </div>