@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@model int
<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="index3.html" class="brand-link">
        <img src="@Url.Content("~/dist/img/AdminLTELogo.png")" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
             style="opacity: .8">
        <span class="brand-text font-weight-light">AdminLTE 3</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">


        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
    with font-awesome or any other icon font library -->
                <li class="nav-item">
                    <a href="@Url.Action("Details", "ConferenceSettings", new {  id = Model }, null)" class="nav-link">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                            Главная

                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="@Url.Action("EditConf", "ConferenceSettings", new {  id = Model }, null)" class="nav-link">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                            Настройки

                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="@Url.Action("Members", "ConferenceSettings", new {  id = Model }, null)" class="nav-link">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                            Учасники

                        </p>
                    </a>
                </li>


                <li class="nav-item">
                    <a href="@Url.Action("TimeTable", "ConferenceSettings", new {  id = Model }, null)" class="nav-link">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                            Расписание

                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="@Url.Action("Myfiles", "ConferenceSettings", new {  id = Model }, null)" class="nav-link">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                            Файлы

                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-area="" asp-controller="Home" asp-action="index" class="nav-link">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                            Организация

                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-area="" asp-controller="Home" asp-action="index" class="nav-link">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                            Кастомизация

                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-area="" asp-controller="ConferenceSettings" asp-action="MyConfList" class="nav-link">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                            мои конфы

                        </p>
                    </a>
                </li>


            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>